<h1>{{Title}}</h1>
<P>homework</p>
  <input type="button" value="exit" style="width:50px; height: 30px; color:red; background-color:yellow">

  <form action="/logon" method="post">
      <label>Username:</label>
      <input placeholder="username" type="text" value="" name="username" required="required">
      </br>
      <label>password:</label>
      <input placeholder="password" type="password" value="" name="password" required="required">
      </br>
      <input type="submit" value="submit" style="width:50px; height: 30px; color:red; background-color:gray">
  </form>
